/* my custom styles*/


/*Typography*/

h5 {

    font-family: Arial, Helvetica, sans-serif;

}

h2 {
    font-size: 40px;
    color: gray;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

p {
    font-family: Arial, Helvetica, sans-serif;


}

/*Spacing*/

.gap {
    padding: 70px 0px;
}

/* NavBar Decoration*/

.mynav a {
    margin-right: 30px;
}


.mynav a:hover {
    border-bottom: 1px solid red;
}

/* SECTION SLIDER*/

.carousel-caption {
    margin-bottom: 15%;
    padding: 50px 100px;
    width: 50%;

}

.carousel-caption h5 {
    font-size: 60px;
}

.carousel-caption p {
    font-size: 20px;
}

.drk:after {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity:0.5;

}

@media only screen and (max-width: 1600px) {
    .carousel-caption {
        margin-top: 10%;
        width: 70%;
    }
}

@media only screen and (max-width: 1300px) {
    .carousel-caption {
        margin-top: 5%;
    }

    .carousel-caption h5 {
        font-size: 30px;
    }
    
    .carousel-caption p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 960px) {
    .carousel-caption {
        margin-top: 0%;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-caption {
        margin-top: 5%;
        padding: 25px;
    }

    .carousel-caption h5 {
        font-size: 20px;
    }
    
    .carousel-caption p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    .carousel-caption {
        margin-bottom: 0%;
    }
}