/* my custom styles*/

body {
    background-color: white;
}

/* NavBar Decoration*/

.mynav a {
    margin-right: 30px;
}


.mynav a:hover {
    border-bottom: 1px solid red;
}

/* SECTION SLIDER*/

.carousel-caption {
    margin-bottom: 20%;
    background: rgba(0,0,0,0.6);
    padding: 50px 100px;

}

.carousel-caption h5 {
    font-size: 60px;
}